<h1>Hello World</h1>

{{#each productList}}
<div class = "productList">
    <h1> Name: {{name}}</h1>
    <h2>Price: {{price}}</h2>
    <h2>Inventory: {{inventory}}</h2>
    <h2>Id: {{id}}</h2>

</div>
{{/each}}

{{#each articleList}}
<div class = "articleList">
    <h1> title: {{title}}</h1>
    <h2>author: {{author}}</h2>
    <h2>url: {{urlTitle}}</h2>

</div>
{{/each}}